// TEXT 
$text-black: #000000;
$text-blue: #3265FF;
$text-grey-6: rgba(0, 0, 0, 0.6);
$text-grey-1: rgba(0, 0, 0, 0.16);

// BACKGROUND COLORS
$bg-white: #ffffff;
$bg-blue: #3265FF;
$bg-grey: #F6F6F6;
$bg-blue-12: rgba(50, 101, 255, .12);

// BORDER COLORS
$border-grey: rgba(0, 0, 0, 0.12);
$border-blue: #3265FF;
$border-black: #000;

// INPUTS
$bg-input: #F5F5F5;