// TEXT 
$text-black: #000000;
$text-grey-6: rgba(0, 0, 0, 0.6);
$text-grey-1: rgba(0, 0, 0, 0.16);

// BACKGROUND COLORS
$bg-white: #ffffff;
$bg-grey: #F3F3F3;

// BORDER COLORS
$border-grey: rgba(0, 0, 0, 0.12);